<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- <startup>
		<supportedRuntime version="vv2.0.50727" sku=".NETFramework,Version=vv2.0.50727" />
	</startup> -->
	<appSettings>
		<!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
		<add key="url" value="https://github.com/247321453/MagicSetEditor2/raw/master/" />
		<!-- game save path -->
		<add key="path" value="..\" />
		<!-- use proxy -->
		<add key="useproxy" value="false" />
		<add key="proxy" value="127.0.0.1:8080" />
		<!-- if file exitis then no download -->
		<add key="ignore1" value="update/update.exe" />
	</appSettings>
</configuration>