<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
  <add key="language" value="chinese" />
  <add key="sourceURL" value="https://github.com/247321453/DataEditorX" />
  <add key="updateURL" value="https://github.com/247321453/DataEditorX/tree/master/win32/readme.txt" />
  <add key="cdb" value="F:\10月13日数据更新(中文音效版)\cards.cdb" />
  <add key="image_quilty" value="96" />
  <add key="image" value="44,64,177,254" />
  <add key="image_other" value="25,54,128,128" />
  <add key="image_xyz" value="24,51,128,128" />
  <add key="image_pendulum" value="14,46,149,120" />
 </appSettings>
</configuration>
