<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
		<!-- language directory -->
		<add key="language" value="chinese" />
		<!-- DataEditorX source code -->
		<add key="sourceURL" value="https://github.com/247321453/DataEditorX" />
		<!-- DataEditorX update url-->
		<add key="updateURL" value="https://github.com/247321453/DataEditorX/tree/master/win32/readme.txt" />
		<!-- Cut Images Setting -->
		<add key="image_quilty" value="100" />
		<add key="image" value="44,64,177,254" />
		<add key="image_other" value="25,54,128,128" />
		<add key="image_xyz" value="24,51,128,128" />
		<add key="image_pendulum" value="14,46,149,120" />
		<!-- CodeEdiotr Setting
			IME = true  使用輸入法，正常顯示文字，反應變慢 
			IME = false English
		-->
		<add key="IME" value="false" />
		<add key="fontname" value="Consolas" />
		<add key="fontsize" value="14.5" />
	</appSettings>
</configuration>