<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- Example connection to a SQL Server Database on localhost. -->
        <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
    <appSettings>
        <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
        <add key="language" value="chs" />
        
        <add key="sourceURL" value="https://github.com/247321453/DataEditorX" />
        <add key="updateURL" value="http://hi.baidu.com/247321453" />
        <add key="info" value="提示" />
        <add key="error" value="错误" />
        <add key="warning" value="警告" />
        
        <add key="question" value="询问" />
        
        <add key="Add" value="添加卡片" />
        <add key="Modify" value="修改卡片" />
        <add key="Delete" value="删除卡片" />
        <add key="Lua Script" value="lua脚本" />
        <add key="Search" value="搜索" />
        <add key="Reset" value="重置" />
        
        <add key="Alias Card" value="同名卡" />
        <add key="Card Code" value="卡片密码" />
        <add key="Card Types" value="卡片种类" />
        <add key="Card Categorys" value="效果种类" />
        <add key="Tips Texts" value="提示文字" />
        
        <add key="Help" value="帮助" />
        <add key="About" value="关于" />
        <add key="Check Update" value="检查更新" />
        <add key="Source" value="源码主页" />
        
        <add key="File" value="文件" />
        <add key="Card Name" value="卡片名称" />
        
        <add key="Open Database" value="打开" />
        <add key="New Database" value="新建" />
        <add key="Cards Form ydk file" value="从ydk文件读取" />
        <add key="Cards From Images" value="从图像文件夹读取" />
        <add key="Select Copy To" value="选中卡片复制到..." />
        <add key="All Now Copy To" value="当前所有卡片复制到..." />
        
        <add key="Quit" value="退出" />
        
        <add key="Please select a DataBase!" value="请打开一个数据库!" />
        <add key="File is not exists!" value="文件不存在!" />
        <add key="Card is exists!" value="卡片已经存在!" />
        
        <add key="Add Card succeed!" value="添加成功!" />
        <add key="Add Card fail!" value="添加失败!" />
        
        <add key="Delete Card {0} ?" value="是否删除卡片 {0}?" />
        <add key="Delete {0} Cards ?" value="是否删除 {0} 张卡片?" />
        <add key="Delete Card succeed!" value="删除成功!" />
        <add key="Delete Card fail!" value="删除失败!" />
        
        <add key="Card is not changed!" value="卡片没有被修改!" />
        <add key="Modify Card succeed!" value="修改成功!" />
        <add key="Modify Card fail!" value="修改失败!" />
        
        <add key="Please select script text!" value="请选中脚本文本!" />
        <add key="create script file?{0}" value="是否创建脚本文件?{0}" />
        <add key="Card Code is zero!" value="卡片密码必须大于0!" />
        <add key="Please select images directory!" value="文件不存在!" />
        
        <add key="Please select ydk file." value="选择卡组文件(ydk文件)" />
        <add key="ydk file(*.ydk)|*.ydk|all files(*.*)|*.*" value="ydk文件(*.ydk)|*.ydk|所有文件(*.*)|*.*" />
        
        <add key="Overwrite existing card?" value="是否覆盖已经存在的卡片？" />
        <add key="Please select database." value="请选择数据库(*.cdb)" />
        <add key="cdb file(*.cdb)|*.cdb|all files(*.*)|*.*" value="cdb文件(*.cdb)|*.cdb|所有文件(*.*)|*.*" />
        <add key="About:{0}Version:{1}Author:{2}Email:{3}" value="关于:{0}版本:{1}作者:{2}邮箱:{3}" />
     </appSettings>
</configuration>
