<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
		<!-- MSE language  data/mse_xxx.txt -->
		<add key="mse" value="Chinese-Simplified" />
		<!-- Language data/cardinfo_xxxx.txt  data/language_xxx.txt -->
		<add key="language" value="english" />
		<!-- Check system language when running program first time -->
		<add key="check_system_language" value="true" />
		<!-- async load data -->
		<add key="async" value="false" />
		<!-- DataEditorX source code -->
		<add key="sourceURL" value="https://github.com/247321453/DataEditorX" />
		<!-- DataEditorX update url-->
		<add key="updateURL" value="https://github.com/247321453/DataEditorX/tree/master/win32/readme.txt" />
		<!-- delete,modify with card's files image script -->
		<add key="opera_with_cards_file" value="true" />
		<!-- open file in this.such as lua -->
		<add key="open_file_in_this" value="true" />
		<!-- check update when opening application automatically -->
		<add key="auto_check_update" value="true" />
    <!-- add require automatically -->
    <add key="add require" value="" />
		<!-- Cut Images Setting -->
		<add key="image_quilty" value="100" />
		<add key="image" value="44,64,177,254" />
		<add key="image_other" value="25,54,128,128" />
		<add key="image_xyz" value="24,51,128,128" />
		<add key="image_pendulum" value="16,50,147,109" />
		<!-- CodeEdiotr Setting
      IME = true  使用輸入法，正常顯示文字，反應變慢 
      IME = false English
    -->
		<add key="IME" value="false" />
		<add key="wordwrap" value="true" />
		<add key="tabisspace" value="false" />
		<add key="fontname" value="Consolas" />
		<add key="fontsize" value="14.5" />
		<!-- MSE path-->
		<add key="mse_path" value="./MagicSetEditor2/mse.exe"/>
		<add key="mse_exprotpath" value="./exprot"/>
		<add key="mse_auto_rarity" value="true"/>
		<add key="pack_db" value="./pack.db"/>
			<!-- 1024 : 40-->
		<add key="autolength" value="37"/>
	</appSettings>
</configuration>