<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
		<!-- language directory -->
		<add key="language" value="chinese" />
		<!-- DataEditorX source code -->
		<add key="sourceURL" value="https://github.com/247321453/DataEditorX" />
		<!-- DataEditorX update url-->
		<add key="updateURL" value="https://github.com/247321453/DataEditorX/tree/master/win32/readme.txt" />
		<!-- Defult DataBase -->
		<add key="cdb" value="cards.cdb" />
		<add key="image_quilty" value="96" />
		<add key="image" value="44,64,177,254" />
		<add key="image_other" value="25,54,128,128" />
		<add key="image_xyz" value="24,51,128,128" />
		<add key="image_pendulum" value="14,46,149,120" />
		<!-- MSE -->
		<add key="mse-pendulum-text" value="】[\s\S]*?\n([\S\s]*?)\n【" />
		<add key="mse-monster-text" value="[果|介]】\n([\S\s]*)" />
	</appSettings>
</configuration>